html {
	font-weight: bold;
}

body {
	background-color: #010513;
}

.arrow {
	position: fixed;
	top: 15px;
	left: 20px;
	color: white;
	text-decoration: none;
	font-size: 35px;
}

.title {
	text-shadow: 2px 0 0 #8257E5, -2px 0 0 #8257E5, 0 2px 0 #8257E5, 0 -2px 0 #8257E5, 1px 1px #8257E5, -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5;
	text-align: center;
	color: #010513;
	margin-top: 10vh;
	font-weight: bold;
	font-size: 40px;
}

.blur {
	height: 400px;
	width: 400px;
	position: fixed;
	filter: blur(500px);
}

.github {
	position: fixed;

	right: 15px;
	top: 15px;

	width: 40px;
	height: 40px;
}
