#projects {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 100%;
	z-index: 3;
	background-color: #000b76;
}

#return_projects {
	text-align: center;
}

.return_button {
	text-align: center;
	margin-top: 2%;
	transition: transform .2s;
}

.return_button:hover {
	cursor: pointer;
	transform: scale(1.08);
}

#projects_content {
	background-color: #000b76;
	position: relative;
	text-align: center;
	margin-top: 5%;
}

.repo_project {
	display: inline-block;
	text-align: center;
	width: 50%;
	border-radius: 5px;
	padding: 1px;
	margin: 10px;
	background-color: white;
	transition: transform .4s;
}

.repo_project:hover {
	transform: scale(1.08);
}

a {
	text-decoration: none;
	color: #000b76;
}

@keyframes showProjects {
	to {
		display: block;
		/* transform: translateY(1000px); */
		top: 0;
	}
}

@keyframes hideProjects {
	to {
		display: none;
		/* transform: translateY(1000px); */
		top: 100%;
	}
}