html {
	font-family: 'Fira Code';
}

body {
	text-align: center;
	background-color: black;
}

#introduction {
	margin-top: 10%;
	margin-bottom: 12%;
}

img {
	width: 350px;
	border-radius: 50%;
}

h1, h2, h3, p, ul, li {
	color: white;
}

a {
	color: white;
}

.diff {
	margin: 100px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

.diff h2 {
	font-size: 2.1em;
	margin-bottom: 50px;
	margin-left: 25px;
}

.diff p {
	font-weight: bold;
	font-size: 1.05em;
}

.diff li {
	font-weight: bold;
}

#personal {
	margin-bottom: 15%;
}

@media only screen and (max-width: 600px) {
	.diff {
		margin-left: 5%;
		margin-right: 5%;
		text-align: left;
	}

	.diff h2 {
		font-size: 2em;
		margin-bottom: 30px;
		margin-left: 30px;
	}
}

#github {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: white;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

#github * {
	margin-top: 2px;
}
