a {
    text-decoration: none;
    color: white;
    font-family: Courier;
}

#github {
    position: absolute;
    left: 5px;
    top: 5px;
}

#buttons-div {
    margin-top: 250px;
    text-align: center;
}

#welcome {
    text-align: center;
    font-size: 50px;
    font-family: Courier;
    color: #003049;
}

.buttons {
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-size: 100%;
    // padding: 4%;
    background-color: #003049;
    // margin: 100px;
}

#projects-button {

    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-size: 100%;
    // padding: 4%;
    background-color: #003049;
    // margin: 100px;

    border: 1px solid #003049;
    // padding-left: 79px;
    // padding-right: 79px;
    background-color: white;
    color: #003049;
    border-width: 10px;
    text-align: center;
}

#aboutme-button {

    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-size: 100%;
    // padding: 4%;
    background-color: #003049;
    // margin: 100px;

    border: 10px solid #003049;
    // padding-left: 70px;
    // padding-right: 70px;
}


@media (min-width: 0px) {
    @import "small";
}
@media (min-width: 600px) {
    @import "medium";
}
@media (min-width: 1000px) {
    @import "large";
}