#welcome {
    margin-top: 7%;
}

.buttons {
    font-size: 100%;
    margin: 100px;
}

#projects-button {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 4%;
    padding-bottom: 4%;
}

#aboutme-button {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 4%;
    padding-bottom: 4%;
}