#welcome {
    margin-top: 15%;
}

.buttons {
    // font-size: 120%;
    // margin: 1%;
}

#projects-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
}

#aboutme-button {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10%;
    padding-bottom: 10%;
}